body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

#homePage {
    background-color: #666666;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 3fr 5fr;
}

.navbar button, .navbar a {
    font-size: 2em;
    text-transform: none;
    text-decoration: bold;
}

#homePage nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

#homePage .welcome {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
    border: 2px solid #666666;
    border-left: 4px;
    border-right: 4px;
}

#homePage .welcome p {
    font-size: 3em;
    font-weight: 550;
    text-align: center;
}

#homePage .new-workspace {
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.25em;
    font-weight: 550;
    background-color: #c4c4c4;
    border: 2px solid #666666;
    border-left: 4px;
}

#homePage .new-workspace button {
    margin-top: 10px;
}

#homePage .load-workspace {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #c4c4c4;
    border: 2px solid #666666;
    border-right: 4px;
    font-size: 1.25em;
    font-weight: 550;
}

.workspaces-box {
    border: 1px black solid;
    width: 75%;
    height: 80%;
}

.workspaces-box p {
    border-bottom: 1px gray solid;
    font-weight: normal;
}

.page-container {
    margin-top: 100px;
}

/*
*====================
* = Workspace Page =
*====================
*/

#workspacePage {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    min-width: 100%;
    flex-wrap: nowrap;
    background-color: #666666;
    margin-top: 84px;
    padding: 0px;
}

#workspacePage #sideBar {
    background-color: lightgray;
    flex: 1 0;
    margin-left: 0px;
}

#workspacePage #wkspContent {
    background-color: #666666;
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wksp-blank-page {
    /* background-color: white; */
    background-color: white;
    flex: 1 0 40%;
    margin: 10px;
}

#workspacePage .wksp-button {   
    border-color: #800000;
    color: #800000;
    width: 100px;
    margin: 10px;

}

#workspacePage .wksp-settings {

    background-color: lightgray;
    flex: 1 0 40%;
    margin: 10px;

}


