body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#sideBar {

    background-color: lightgray;

}

#wkspContent {

    background-color: #666666;

}

.wksp-blank-page {

    background-color: white;

}

.wksp-button {
    
}


