body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

#homePage {
    background-color: #666666;
    display: grid;
    grid-template-areas: "nav nav"
                         "welcome welcome"
                         "newwksp loadwksp";
    grid-template-columns: auto, auto;
    grid-template-rows: 1fr, 2fr, 5fr;
}

.navbar button, .navbar a {
    font-size: 2em;
    text-transform: none;
    text-decoration: bold;
}

#homePage nav {
    grid-area: "nav";
    background-color: red;
}

#homePage .welcome {
    grid-area: "welcome";
    background-color: green;
}

#homePage .new-workspace {
    grid-area: "newwksp";
    background-color: blue;
}

#homePage .load-workspace {
    grid-area: "loadwksp";
    background-color: yellow;
}

.page-container {
    margin-top: 100px;
}

/*
*====================
* = Workspace Page =
*====================
*/

#workspacePage {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    min-width: 100%;
    flex-wrap: nowrap;
    background-color: #666666;
    margin-top: 84px;
    padding: 0px;
}

#workspacePage #sideBar {
    background-color: lightgray;
    flex: 1 0;
    margin-left: 0px;
}

#workspacePage #wkspContent {
    background-color: #666666;
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wksp-blank-page {
    /* background-color: white; */
    background-color: white;
    flex: 1 0 40%;
    margin: 10px;
}

#workspacePage .wksp-button {   
    border-color: #800000;
    color: #800000;
    width: 100px;
    margin: 10px;

}

#workspacePage .wksp-settings {

    background-color: lightgray;
    flex: 1 0 40%;
    margin: 10px;

}


